* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: silver;
    list-style: none;
}

.logo img {
    height: 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: green;
}


.nav-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.login {
    color: green;
    text-decoration: none;
    font-size: 16px;
}

.signup {
    background-color: green;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 10%;
    background-color: silver;
    max-width: 100%;
}

.hero-content {
    max-width: 80%;
}

.hero-content h1 {
    font-size: 50px;
    font-weight: bold;
    color: #333;
}


.highlight {
    color: green;
}

.hero-content p {
    color: #666;
    font-size: 18px;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: darkgreen;
}





.hero-image img {
    width: 300px;
    max-width:100%;
}

.membership-features {
    padding: 80px 10%;
    background-color: white;
}

.membership h2 {
    text-align: center;
    font-size: 28px;
    color: #333;
}

.membership p {
    text-align: center;
    color: #666;
    font-size: 16px;
}

.membership-grid {
    display: flex;
    justify-content: center;
    gap: 90px;
    margin-top: 40px;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 190px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 40px;
    margin-bottom: 15px;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.feature-image img {
    width: 400px;
    max-width: 100%;
}

.feature-text {
    max-width: 50%;
}

.feature-text h2 {
    font-size: 40px;
    color: #333;
}

.feature-text p {
    color: #666;
    font-size: 16px;
    margin-top: 10px;
}

.business-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.text-section h1 {
    font-size: 40px;
    font-weight: 40px;
    color: #2A2A2A;
    margin-bottom: 0;
    /* font-weight: normal; */
}

.text-section h2 {
    color: green;
    font-size: 40px;
}

.text-section p {
    font-size: 18px;
    color: #666;
    margin: 0;
}

.stats-section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    align-items: center;
}

.stat {
    display: flex;
    align-items: center;
    gap: 10px;
}

.number {
    font-size: 24px;
    color: #666;
    font-weight: bold;
}

.label {
    font-size: 16px;
    color: #4CAF50;
}

.stat img {
    width: 40px; 
}






/* hero-section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

.image-container img {
    width: 400px; 
    height: auto;
}

.content-container {
    width: 60%; 
    padding: 0 20px;
}

.content-container h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.content-container p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}

.learn-more-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

.learn-more-button:hover {
    background-color: #367c39;
}






.customer-testimonial {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    font-family: Arial, sans-serif;
    background-color: silver;
}

.image-container img {
    width: 400px; 
    height: auto;
    display: block;
    margin-right: 20px;
}

.text-container {
    width: calc(100% - 150px - 20px); 
    padding-left: 20px;
}

.text-container p {
    color: #666;
    font-size: 15.7px;
    line-height: 1.6;
    width: 60%;
}

.author-details {
    margin-bottom: 20px;
}

.author-details strong {
    display: block;
    color: green;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.author-details span {
    font-size: 16px;
    color: #999;
}

.logo-row img {
    width: 30px; 
    margin-right: 10px;
}

.all-customers-link {
    display: inline-block;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
}

.all-customers-link:hover {
    background-color: #367C39;
}

.logo-row :last-child {
    width: 200px;
}






.cards-container {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.cards-container h1 {
    font-size: 32px;
    color: #333;
    padding-top: 20px;
}

.cards-container p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    position: relative;
    width: calc(33.333% - 20px);
    cursor: pointer;
}

.card img {
    width: 100%;
    display: block;
    height: auto;
    transition: transform 0.3s ease;
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

.card-overlay h2 {
    font-size: 16px;
    margin: 0 0 10px 0;
    color: #666;
}

.card-overlay a {
    font-size: 14px;
    color: #4CAF50;
    text-decoration: none;
    transition: color 0.3s ease;
}

.card-overlay a:hover {
    color: #367C39;
}






.banner {
    background-color: #f4f4f4; 
    text-align: center; 
    padding: 40px 20px; 
    font-family: Arial, sans-serif; 
}

.banner h1 {
    font-size: 24px; 
    color: #333; 
    margin: 0 0 20px; 
}

.banner button {
    background-color: #4CAF50;
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 4px; 
    outline: none; 
}

.banner button:hover {
    background-color: #367C39; 
}







.site-footer {
    background-color: rgb(32, 32, 36);
    color: #fff;
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-logo img {
    width: 100px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 10px;
    color: #aaa;
    margin-bottom: 10px;
}

.social-media a img {
    width: 14px;
    margin-right: 10px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-column h3 {
    margin-bottom: 10px;
    font-size: 13px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}

.footer-column ul li a:hover {
    color: #fff;
}

.footer-column form {
    display: flex;
    align-items: center;
}

.footer-column input[type="email"] {
    padding: 8px;
    background: #555;
    border: 1px solid #555;
    color: #ccc;
    margin-right: 5px;
}

.footer-column button {
    padding: 8px 12px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

.footer-column button:hover {
    background-color: #367C39;
}

.footer-links .footer-column:first-child {
    margin-left: 8cm;
}




@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    
    .logo img {
        height: 40px;
        margin-bottom: 10px;
    }
    
    .nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .nav-links a {
        padding: 10px;
        text-align: center;
        width: 100%;
    }
    
    .nav-buttons {
        flex-direction: column;
        width: 100%;
    }

    .nav-buttons a {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
 


    .hero {
        flex-direction: column;
        padding: 40px 20px;
    }
    
    .hero-image img {
        width: 100%;
        margin-top: 20px;
    }
    
    .membership-features,
    .features {
        flex-direction: column;
    }

    .features .feature-image,
    .features .feature-text {
        width: 100%;
        padding: 0 15px;
    }

    .membership-grid {
        flex-direction: column;
    }
    
    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .business-stats {
        flex-direction: column;
    }

    .text-section,
    .stats-section {
        width: 100%;
        text-align: center;
    }

    .stats-section {
        margin-top: 20px;
    }

    .stat {
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-logo,
    .footer-links {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .footer-column {
        margin-bottom: 20px;
    }
    
    .footer-column form {
        flex-direction: column;
    }

    .footer-column input[type="email"] {
        width: 100%;
        margin-bottom: 10px;
    }
}
